# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build trees
build/
app/build/

# Gradle
gradle/
.gradle/
local.properties

# Android Studio
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/libraries/*
